<div id="game-select">
	<%= link_to "1 player game", new_game_path(gametype: :one_player), remote: true %>
	<%= link_to "2 player game", new_game_path(gametype: :two_player), remote: true  %>
</div>
<br />
<div id="game-board"></div>
<br /><br />
<div>
	<%= link_to "Log out, game progress will be lost", root_path %>
</div>