<div id="player-data">
	<div id="player-welcome">
		Submit your name to 'register' or 'login'
		<%= render partial: 'players/login' %>
	</div>
</div>
<br /><br />
<%= link_to "Log out, game progress will be lost", root_path %>