<div class="board-container">
	<% board.points.each_slice(7).with_index do |s| %>
		<% s.each do |point| %>
		<div class="point">
			<%= point.x_coord %>,
			<%= point.y_coord %>
		</div>
		<% end %>
	<% end %>
</div>