<div class="board-container">
	<% points = board.points.sort_by { |x| x.id } %>
	<% points.each_slice(BoardDetails::Height) do |s| %>
		<% s.each do |point| %>
		<%= render partial: "points/show", locals: { point: point, board: board, player: player }%>
		<% end %>
	<% end %>
</div>