<div class="board-container">
	<% board.points.each_slice(7) do |s| %>
		<% s.each do |point| %>
		<%= render partial: "points/show", locals: { point: point, board: board, player: player }%>
		<% end %>
	<% end %>
</div>