$("#<%= @point.x_coord %>_<%= @point.y_coord %>").replaceWith("<%= escape_javascript(render partial: "show", locals: { point: @point, board: @point.board, player: @point.player }) %>");
$("#player-status").append("<br /><br /><span class=\"winner\"><%= @player.name %> wins</span>");