<div id="player-status">
	<span id="player_1">Player 1: <%= player_1.name %></span><span id="player-1-turn-indicator"> Your turn</span><br />
	<span id="player_2">Player 2: <%= player_2.name %></span><span id="player-2-turn-indicator"></span><br />
</div>