.board-container {
    width: 750px;
    overflow: auto;
}

.point {
    float: left;
    width: 100px; 
    height: 100px;
    border: 1px solid black;
}

.circleBase {
	margin-top: 10px;
	margin-left: 10px;
	width: 75%;
    height: 75%;
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.empty {
    border: 3px dashed gray;
}

.player_1 {
	background-color: red;
}

.player_2 {
	background-color: yellow;
}