// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#player_1 {
	color: blue;
	font-weight: 900;
}

#player_2 {
	color: red;
	font-weight: 900;
}

.winner {
	font-size: 90px;
	color: orange;
}